
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5"><b>Password Reset</b></h3>
              <form method="post" class="form" id="form">
                {% csrf_token %}
                {% if messages %}
        
                {% for msg in messages %}
                <div class="alert alert-info">
                    {{ msg }}
                </div>
                {% endfor %}
                {% endif %}
        
             
                <div class="form-outline mb-4">                    
                    <label for="password"><b>New Password</b></label>
                    <input type="text" name="new_password"  class="form-control">
                   
                </div>
        
        
        
                <div class="form-outline mb-4">                    
                    <label for="password"><b>Re confirm password</b></label>
                    <input type="text" name="reconfirm_password"   class="form-control">
                   
                </div>
        
        
                <input type="hidden" name="user_id" value="{{user_id}}">
                <br>
                <div>                
                  <button class="btn btn-primary btn  mb-8" type="submit">Submit</button>

                </div>
            </form>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>