{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5"><p class="text-primary"><b>Update Campaign</b1></p></h3>
                  <style>
                      img {
                          height: 200px;
                          width: 200px;
                          }
                </style>
              <form method="Post" enctype='multipart/form-data'>
                {% csrf_token %}
                {% for msg in messages %}
                <h4>{{ msg }}</h4>
                {% endfor %} 
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <label class="form-label" for="title" ><b>Title</b></label>
                      <input type="text" id="title" name="title" value="{{compaign.title}}"  class="form-control form-control-lg" />
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <label class="form-label" for="target"><b>Target</b> </label>
                      <input type="text" id="target" name="target" value="{{compaign.total_target}}" class="form-control form-control-lg" />
                    </div>
  
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="category" ><b>Category</b></label>
                        <input type="text" id="category" name="category" value="{{compaign.category}}" class="form-control form-control-lg" />
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                      <label class="form-label" for="image"><b>Images</b></label>
                      <input type="file" name="image" value="{{compaign.immage}}" class="form-control form-control-lg" multiple>
                    </div>
                  </div>
                  </div>
                    <div class="row">
                        <div class="col-md-12 mb-4">
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label"><b>Details</b></label>
                            <textarea class="form-control"  id="details" name= "details" rows="3">{{compaign.details}}</textarea>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                          <div class="form-outline">
                            <label class="form-label" for="start_time" ><b>Start Date</b></label>
                            <input type="text" id="start_time" name="start_time" value="{{compaign.start_time|date:'Y-m-d' }}"  class="form-control form-control-lg" />
                          </div>
        
                        </div>
                        <div class="col-md-6 mb-4">
        
                          <div class="form-outline">
                            <label class="form-label" for="end_time"><b>End Date</b> </label>
                            <input type="text" id="end_time" name="end_time" value="{{compaign.end_time|date:'Y-m-d'}}" class="form-control form-control-lg" />
                          </div>
                        </div>
                      </div>
                      <div class="mt-4 pt-2">
                        <input class="btn btn-primary btn  mb-8"   type="submit" value="Update the campaign" />
                      </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>